In [22]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

https://pypi.org/project/yfinance/

In [23]:
import pandas as pd
import yfinance as yf

import matplotlib.pyplot as plt

In [24]:
# Commodities
Wheat_SRW = yf.Ticker('ZW=F').history(period="max")
Soybeans = yf.Ticker('ZS=F').history(period="max")

In [25]:
# Financial
Canadian_Dollar = yf.Ticker('6C=F').history(period="max")
British_Pound = yf.Ticker('6B=F').history(period="max")

In [32]:
Wheat_SRW

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2000-07-17  248.00  248.00  243.75  244.00    7233          0             0
2000-07-18  244.25  247.50  241.00  241.25    6523          0             0
2000-07-19  241.25  246.00  239.00  245.00    7136          0             0
2000-07-20  244.00  247.50  244.00  247.00    3792          0             0
2000-07-21  247.00  248.50  246.50  247.25    4380          0             0
...            ...     ...     ...     ...     ...        ...           ...
2021-03-19  629.00  635.50  621.75  627.00   51669          0             0
2021-03-22  627.50  630.75  621.25  627.25   36124          0             0
2021-03-23  628.00  644.50  621.00  634.75   68769          0             0
2021-03-24  635.00  638.75  624.00  624.75   45577          0             0
2021-03-25  624.75  625.50  609.00  612.50   45577          0             0

[5126 rows x 7 columns]